{{define "main"}}

<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
        <div class="grid gap-2.5 lg:pb-16 pb-10 mt-14">
            <h2 class="w-full text-center text-4xl dark:text-white font-bold font-manrope leading-normal">Aplikasi Disbursement Telkom</h2>
            <div class="w-full text-center text-lg dark:text-white font-normal leading-8">Aplikasi yang dirancang untuk meningkatkan pengalaman kepanduan dengan menyediakan informasi navigasi, pelatihan, dan pemantauan kapal secara real-time. Dengan fitur interaktif dan antarmuka yang mudah digunakan, aplikasi ini membantu pelaut dan operator kapal dalam mengambil keputusan yang lebih cepat dan akurat.</div>
        </div>
        <div class="gallery">
            <div class="flex flex-col mb-10">
                <div class="grid md:grid-cols-12 gap-8 lg:mb-11 mb-7">
                    <div class="md:col-span-4 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-04-36.png"
                             data-magnify="gallery"
                             data-src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-04-36.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale  transition-all duration-700 ease-in-out mx-auto lg:col-span-4 md:col-span-6 w-full h-full">
                    </div>
                    <div class="md:col-span-8 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-02.png"
                             data-magnify="gallery"
                             data-src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-02.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto lg:col-span-8 md:col-span-6 w-full h-full">
                    </div>
                </div>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-19.png"
                             data-magnify="gallery"
                             data-src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-19.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-46.png"
                             data-magnify="gallery"
                             data-src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-05-46.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-06-09.png"
                             data-magnify="gallery"
                             data-src="/src/img/telkom-disburs/Screenshot%20from%202024-10-11%2015-06-09.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                </div>

                <div class="lightbox" id="lightbox">
                    <span class="close" id="close">&times;</span>
                    <img src="" alt="" class="lightbox-image" id="lightbox-image">
                </div>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg dark:text-white font-bold leading-8 mb-4">Features</div>
            <div class="flex flex-col mb-10">
                <ol class="space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Admin
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Add/Remove Mitra</li>
                            <li>Topup Saldo</li>
                            <li>Add/Remove User Mitra</li>
                            <li>Laporan Saldo</li>
                            <li>Add/Remove User Admin</li>
                            <li>Audit log</li>
                            <li>User Activity Log</li>
                        </ul>
                    </li>
                    <li>
                        Background Processing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Execute transaction</li>
                            <li>Scheduler for executing transaction</li>
                            <li>Automated retry</li>
                            <li>Start/Stop/Retry Job</li>
                            <li>Monitoring</li>
                            <li>Error Reporting</li>
                            <li>Automated Backup</li>
                            <li>Manage data penerima</li>
                            <li>Bulk upload data penerima</li>
                            <li>Manage data penerima via API</li>
                            <li>Manage list penerima</li>
                            <li>Manage kloter distribution</li>
                        </ul>
                    </li>
                    <li>
                        Mitra
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Pengaturan jenis (tmoney atau bank) dan schedule (one time atau repeat) disbursementlsMaker / Approver / Releaser level</li>
                            <li>Retry failed transaction</li>
                            <li>Laporan pelaksanaan disbursement</li>
                            <li>User activity log</li>
                            <li>Laporan transaksi disbursement</li>
                            <li>Laporan saldo</li>
                            <li>Tampilan saldo efektif</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Tech Stack</div>
            <div class="flex mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Framework
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot (1.5.19.RELEASE)</li>
                        </ul>
                    </li>
                    <li>
                        Language
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Java 1.8 (Java 8)</li>
                        </ul>
                    </li>
                    <li>
                        Containerization and Orchestration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Docker</li>
                            <li>Kubernetes
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li> * Pods</li>
                                    <li> * Ingress/Services</li>
                                    <li> * ConfigMaps </li>
                                    <li> * Helm </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Microservices Communication
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Kubernetes Services and Service Mesh</li>
                            <li>Ingress Controllers</li>
                        </ul>
                    </li>
                    <li>
                        Database
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>MySQL (mysql-connector-java)</li>
                            <li>MariaDB</li>
                            <li>FlywayDB</li>
                        </ul>
                    </li>
                    <li>
                        Database Migration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Flyway</li>
                        </ul>
                    </li>
                    <li>
                        Caching
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Hazelcast (3.8.6)</li>
                        </ul>
                    </li>
                    <li>
                        Templating Engines
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Thymeleaf
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* thymeleaf-layout-dialect</li>
                                    <li>* thymeleaf-spring-data-dialect</li>
                                    <li>* thymeleaf-extras-springsecurity4</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Security
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Security</li>
                            <li>Jasypt (jasypt-spring-boot-starter 1.15)</li>
                        </ul>
                    </li>
                    <li>
                        Batch Processing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Batch</li>
                        </ul>
                    </li>
                    <li>
                        File Handling
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Jxls</li>
                            <li>Jxls POI</li>
                        </ul>
                    </li>
                    <li>
                        Data Parsing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Gson</li>
                            <li>Jsoup</li>
                            <li>Commons Validator</li>
                            <li>Apache Commons Lang3</li>
                        </ul>
                    </li>
                    <li>
                        Cryptography
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Bouncy Castle (bcprov-jdk15on 1.58)</li>
                        </ul>
                    </li>
                    <li>
                        CSV Handling
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>JavaCSV</li>
                        </ul>
                    </li>
                    <li>
                        Hibernate
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Hibernate Envers</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Dev Stack</div>
            <div class="flex flex-col mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Build Tool
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Maven</li>
                        </ul>
                    </li>
                    <li>
                        Plugins
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Maven Plugin</li>
                        </ul>
                    </li>
                    <li>
                        Backend Development
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Docker
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* Dockerfile</li>
                                    <li>* Docker Compose</li>
                                </ul>
                            </li>
                            <li>Kubernetes
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* kubctl</li>
                                    <li>* Helm</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        CI/CD and Deployment
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Jenkins</li>
                        </ul>
                    </li>
                    <li>
                        Testing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Test</li>
                        </ul>
                    </li>
                    <li>
                        Version Control
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Git</li>
                            <li>Commons Validator</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>

{{end}}