{{define "main"}}

<section class="py-24 ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
        <div class="grid gap-2.5 lg:pb-16 pb-10">
            <h2 class="w-full text-center text-4xl font-bold font-manrope leading-normal">Call Center</h2>
            <div class="w-full text-center text-lg font-normal leading-8">Solusi komunikasi yang mengoptimalkan layanan pelanggan dengan fitur manajemen panggilan, analitik, dan otomatisasi. Aplikasi ini memungkinkan tim layanan pelanggan untuk menangani permintaan dengan efisien, meningkatkan responsivitas, dan memastikan pengalaman pelanggan yang lebih baik.</div>
        </div>
        <div class="gallery">
            <div class="flex flex-col mb-10">
                <div class="grid md:grid-cols-12 gap-8 lg:mb-11 mb-7">
                    <div class="md:col-span-4 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/Thumbnail.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/Thumbnail.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto lg:col-span-4 md:col-span-6 w-full h-full">
                    </div>
                    <div class="md:col-span-8 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/02-ImageAgent.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/02-ImageAgent.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto lg:col-span-8 md:col-span-6 w-full h-full">
                    </div>
                </div>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/03-ImageAgentForm.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/03-ImageAgentForm.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/04-ImageAgentSession.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/04-ImageAgentSession.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/05-ImageCallDataForm.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/05-ImageCallDataForm.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/06-ImageIncomingCall.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/06-ImageIncomingCall.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/07-ImageHistory.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/07-ImageHistory.pn"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/call-center/08-ImageReport.png"
                             data-magnify="gallery"
                             data-src="/src/img/call-center/08-ImageReport.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                </div>

            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold leading-8 mb-4">Tech Stack</div>
            <div class="flex flex-col mb-10">
                <ul class="max-w-md space-y-1 text-gray-500 list-disc list-inside dark:text-gray-400">
                    <li>
                        Java 21
                    </li>
                    <li>
                        Spring Boot 3.3.3
                    </li>
                </ul>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Tech Stack</div>
            <div class="flex mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Framework
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot (2.5.2)</li>
                        </ul>
                    </li>
                    <li>
                        Language
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Java 1.8 (8)</li>
                        </ul>
                    </li>
                    <li>
                        Database
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>MySQL</li>
                            <li>MariaDB</li>
                            <li>SQL Server</li>
                            <li>PostgreSQL</li>
                        </ul>
                    </li>
                    <li>
                        Database Migration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Liquibase</li>
                        </ul>
                    </li>
                    <li>
                        Templating Engines
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Thymeleaf
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* thymeleaf-layout-dialect 2.4.1</li>
                                    <li>* Thymeleaf Spring Data Dialect</li>
                                    <li>* Thymeleaf Spring Security Extras</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Security
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Security</li>
                            <li>OAuth 2.0
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* Nimbus JOSE + JWT</li>
                                    <li>* OAuth 2.0 Resource Server</li>
                                    <li>* OAuth 2.0 Autoconfigure</li>
                                    <li>* OpenID Connect (OIDC)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Validation
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Validation</li>
                            <li>Jackson (jackson-datatype-jsr310)</li>
                        </ul>
                    </li>
                    <li>
                        File Handling
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Super CSV</li>
                            <li>Gson</li>
                        </ul>
                    </li>
                    <li>
                        Email
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Mail</li>
                        </ul>
                    </li>
                    <li>
                        Web Socket
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter WebSocket</li>
                        </ul>
                    </li>
                    <li>
                        Licensing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>License4j</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Dev Stack</div>
            <div class="flex flex-col mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Build Tool
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Maven</li>
                        </ul>
                    </li>
                    <li>
                        Plugins
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Maven Plugin</li>
                            <li>Build Info Goal</li>
                            <li>Lombok</li>
                        </ul>
                    </li>
                    <li>
                        Testing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Test</li>
                        </ul>
                    </li>
                    <li>
                        Dependencies Management
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Apache Commons Lang3</li>
                        </ul>
                    </li>
                    <li>
                        Version Control
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Git</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div class="lightbox" id="lightbox">
        <span class="close" id="close">&times;</span>
        <img src="" alt="" class="lightbox-image" id="lightbox-image">
    </div>
</section>

{{end}}