<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 1</h5>
    </div>
    <ul class="widget-list">
        <li>Anatomi Aplikasi Java</li>
        <li>Compile dan Run</li>
        <li>Package</li>
        <li>Class, Method, Property</li>
        <li>Membuat dan Menggunakan JAR</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 2</h5>
    </div>
    <ul class="widget-list">
        <li>Dependency Management dengan Maven/Gradle</li>
        <li>Struktur Folder Project</li>
        <li>Local Repository dan Konfigurasinya</li>
        <li>Intro Version Control</li>
        <li>Setup Github/Gitlab</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 3</h5>
    </div>
    <ul class="widget-list">
        <li>Inversion of Control / Dependency Injection</li>
        <li>Aspect Oriented Programming</li>
        <li>Konfigurasi Koneksi Database dengan Spring</li>
        <li>Automated Testing</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 4</h5>
    </div>
    <ul class="widget-list">
        <li>Setup Project Spring Boot</li>
        <li>Setup Spring Data JPA</li>
        <li>JPA Mapping : Many to One</li>
        <li>JPA Mapping : One to Many</li>
        <li>JPA Mapping : Many to Many</li>
        <li>Spring Data JPA Query Method</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 5</h5>
    </div>
    <ul class="widget-list">
        <li>Struktur Folder Aplikasi Web Java</li>
        <li>Servlet, Filter, Listener</li>
        <li>Pack WAR dan Deployment</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 6</h5>
    </div>
    <ul class="widget-list">
        <li>Setup Spring Boot WebMVC</li>
        <li>Membuat REST API dengan Spring Boot</li>
        <li>HTML Templating dengan Thymeleaf</li>
        <li>Menampilkan data dari database ke HTML</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 7</h5>
    </div>
    <ul class="widget-list">
        <li>Membuat HTML Form Input</li>
        <li>Insert Data ke Database</li>
        <li>Validasi Form</li>
        <li>Custom Error Message</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 8</h5>
    </div>
    <ul class="widget-list">
        <li>Upload File</li>
        <li>Download File</li>
        <li>Membuat PDF/XLS Output dengan Jasper Report</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 9</h5>
    </div>
    <ul class="widget-list">
        <li>Setup Spring Security</li>
        <li>Custom Login Page</li>
        <li>Check Login ke Database</li>
        <li>BCrypt Password Hash</li>
    </ul>
</div>

<div class="widget sample-pages">
    <div class="subpage-title">
        <h5>Sesi 10</h5>
    </div>
    <ul class="widget-list">
        <li>REST Security dengan HTTP Basic</li>
        <li>REST Security dengan JWT</li>
        <li>Single Sign On Google/Facebook</li>
    </ul>
</div>