{{define "main"}}

<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
        <div class="grid gap-2.5 lg:pb-16 pb-10 mt-14">
            <h2 class="w-full text-center text-4xl dark:text-white font-bold font-manrope leading-normal">Aplikasi BNI Dashboard Kemenkeu</h2>
            <div class="w-full text-center dark:text-white text-lg font-normal leading-8">Aplikasi yang menyediakan analisis dan visualisasi data keuangan secara real-time untuk Kementerian Keuangan. Dengan antarmuka yang intuitif, aplikasi ini memudahkan pemantauan kinerja anggaran, laporan keuangan, dan pengambilan keputusan yang lebih tepat dan efisien.</div>
        </div>
        <div class="gallery">
            <div class="flex flex-col mb-10">
                <div class="grid md:grid-cols-12 gap-8 lg:mb-11 mb-7">
                    <div class="md:col-span-4 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/bni-dashboard/Thumbnail.png"
                             alt="Gallery image"
                             data-magnify="gallery"
                             data-src="/src/img/bni-dashboard/Thumbnail.png"
                             class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto lg:col-span-4 md:col-span-6 w-full h-full
">
                    </div>
                    <div class="md:col-span-8 md:h-[404px] h-[277px] w-full rounded-3xl">
                        <img src="/src/img/bni-dashboard/01-Dashboard.png"
                             data-magnify="gallery"
                             data-src="/src/img/bni-dashboard/01-Dashboard.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto lg:col-span-8 md:col-span-6 w-full h-full">
                    </div>
                </div>
                <div class="grid md:grid-cols-2 grid-cols-1 gap-8">
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/bni-dashboard/02-List%20User%20Management.png"
                             data-magnify="gallery"
                             data-src="/src/img/bni-dashboard/02-List%20User%20Management.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/bni-dashboard/03-Wilayah%20Kerja.png"
                             data-magnify="gallery"
                             data-src="/src/img/bni-dashboard/03-Wilayah%20Kerja.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                    <div class="h-[277px] w-full rounded-3xl">
                        <img src="/src/img/bni-dashboard/04-Informasi%20Suku%20Bunga.png"
                             data-magnify="gallery"
                             data-src="/src/img/bni-dashboard/04-Informasi%20Suku%20Bunga.png"
                             alt="Gallery image" class="gallery-image object-cover rounded-3xl hover:grayscale transition-all duration-700 ease-in-out mx-auto w-full h-full">
                    </div>
                </div>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Features</div>
            <div class="flex flex-col mb-10">
                <ul class="space-y-4 text-gray-500 list-decimal list-inside dark:text-gray-400">
                            <li>Utility Reset Rekap Penyaluran</li>
                            <li>Utility Reconcile Penyaluran</li>
                            <li>Penyaluran – Daftar Transaksi</li>
                                <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                    <li>Rekap Provinsi</li>
                                    <li>Rekap Kota</li>
                                    <li>Rekap Kecamatan</li>
                                    <li>Rekap Puskesmas</li>
                                </ol>
                            <li>Penyaluran – Daftar Mutasi</li>
                                <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                    <li>Rekap Provinsi</li>
                                    <li>Rekap Kota</li>
                                    <li>Rekap Kecamatan</li>
                                    <li>Rekap Puskesmas</li>
                                    <li>Rekap VA</li>
                                </ol>
                            <li>Exposrt Data (CSV, PDF) Penyaluran – Daftar Transaksi</li>
                                <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                    <li>Rekap Provinsi</li>
                                    <li>Rekap Kota</li>
                                    <li>Rekap Kecamatan</li>
                                    <li>Rekap Puskesmas</li>
                                </ol>
                            <li>Exposrt Data (CSV, PDF) Penyaluran – Daftar Mutasi</li>
                                <ol class="ps-5 mt-2 space-y-1 list-disc list-inside">
                                    <li>Rekap Provinsi</li>
                                    <li>Rekap Kota</li>
                                    <li>Rekap Kecamatan</li>
                                    <li>Rekap Puskesmas</li>
                                    <li>Rekap VA</li>
                                </ol>
                            <li>Detail Transaksi Dan Mutasi</li>
                            <li>Detail Transaksi Dan Mutasi (Export CSV , PDF)</li>
                            <li>Dashboard Penyaluran Dana BOK Puskesmas</li>
                            <li>Mekanisme Load SDD File untuk Dana Penyaluran , Dana Rencana Penyarapan</li>
                            <li>Mekanisme Load Account Statement file (CSV) File untuk Dana Penyaluran , Dana Rencana Penyarapan dan Penyerapan</li>
                            <li>Role Permission User Penyaluran</li>
                            <li>User Penyaluran- Level Puskesmas - Level Dinas Kesehatan</li>
                            <li>Mekanisme Rekap Penyaluran Rekening</li>
                            <li>Mekanisme Rekap Penyaluran VA</li>
                            <li>Matrik User Role Permission Penyaluran</li>
                </ul>
            </div>
        </div>
        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Tech Stack</div>
            <div class="flex mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Framework
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter 2.1.3.RELEASE</li>
                        </ul>
                    </li>
                    <li>
                        Containerization and Orchestration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Docker</li>
                            <li>Kubernetes
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li> * Pods</li>
                                    <li> * Ingress/Services</li>
                                    <li> * ConfigMaps </li>
                                    <li> * Helm </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Language
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Java 1.8 (Java 8)</li>
                        </ul>
                    </li>
                    <li>
                        Database
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>MySQL (mysql-connector-java 8.0.15)</li>
                        </ul>
                    </li>
                    <li>
                        Database Migration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>FlywayDB 5.2.4</li>
                        </ul>
                    </li>
                    <li>
                        Microservices Communication
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Kubernetes Services and Service Mesh</li>
                            <li>Ingress Controllers</li>
                        </ul>
                    </li>
                    <li>
                        Templating Engines
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Thymeleaf
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* thymeleaf-layout-dialect 2.3.0</li>
                                    <li>* thymeleaf-spring-data-dialect</li>
                                    <li>* thymeleaf-extras-springsecurity5</li>
                                </ul>
                            </li>
                            <li>FreeMarker</li>
                        </ul>
                    </li>
                    <li>
                        Security
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Security (5.1.4.RELEASE)</li>
                            <li>JWT (JSON Web Token) (jjwt 0.9.0)</li>
                        </ul>
                    </li>
                    <li>
                        Data Parsing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Apache POI (5.2.4)</li>
                            <li>OpenCSV (5.4)</li>
                        </ul>
                    </li>
                    <li>
                        PDF Generation
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>iText PDF
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* itext7-core</li>
                                    <li>* html2pdf</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Caching
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Cache (spring-boot-starter-cache)</li>
                        </ul>
                    </li>
                    <li>
                        Email
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Mail</li>
                        </ul>
                    </li>
                    <li>
                        Integration
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Integration FTP/SFTP</li>
                        </ul>
                    </li>
                    <li>
                        JSON Parsing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Gson (2.9.1)</li>
                        </ul>
                    </li>
                    <li>
                        User Agent Parsing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>uap-java</li>
                        </ul>
                    </li>
                    <li>
                        File Detection
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Apache Tika (tika-parsers 1.17)</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

        <div class="gallery">
            <div class="w-full text-left text-lg font-bold dark:text-white leading-8 mb-4">Dev Stack</div>
            <div class="flex flex-col mb-10">
                <ol class="max-w-md space-y-1 text-gray-500 list-decimal list-inside dark:text-gray-400">
                    <li>
                        Build Tool
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Maven</li>
                        </ul>
                    </li>
                    <li>
                        Backend Development
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Docker
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* Dockerfile</li>
                                    <li>* Docker Compose</li>
                                </ul>
                            </li>
                            <li>Kubernetes
                                <ul class="ps-5 mt-2 space-y-1 list-inside">
                                    <li>* kubctl</li>
                                    <li>* Helm</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        Plugins
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Maven Plugin</li>
                            <li>Lombok</li>
                        </ul>
                    </li>
                    <li>
                        Testing
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Spring Boot Starter Test</li>
                        </ul>
                    </li>
                    <li>
                        Dependency Management
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Commons Codec (1.11)</li>
                            <li>Commons Validator (1.6)</li>
                        </ul>
                    </li>
                    <li>
                        Version Control
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Git</li>
                        </ul>
                    </li>
                    <li>
                        Local Development
                        <ul class="ps-5 mt-2 space-y-1 list-disc list-inside">
                            <li>Docker Compose</li>
                        </ul>
                    </li>
                </ol>
            </div>
        </div>

    </div>
</section>

{{end}}