{{define "main"}}

<section class="py-24 pt-36 ">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 ">
        <div class="grid gap-2.5 lg:pb-16 pb-10">
            <h2 class="w-full text-center dark:text-white text-4xl font-bold font-manrope leading-normal">Magang</h2>
            <div class="max-w-3xl mx-auto p-6 shadow-md rounded-md">
                <p class="dark:text-white mb-4">Salah satu pertanyaan yang sering sekali saya terima adalah,</p>

                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    <strong>Apakah ArtiVisi menerima magang?</strong>
                </blockquote>
                <p class="dark:text-white mb-4">Daripada mengulang setiap kali, baiklah saya tulis saja di sini supaya cukup satu kali saja saya menjelaskan.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Filosofi Magang</h2>
                <p class="dark:text-white mb-4">Filosofi magang di ArtiVisi adalah saling menguntungkan. Peserta magang mendapat keuntungan dari ArtiVisi berupa skill dan pengalaman. ArtiVisi mendapat keuntungan berupa tenaga kerja murah.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Siapa Saja Boleh</h2>
                <p class="dark:text-white mb-4">SD, SMP, SMA, SMK, Kuliah, pengangguran, sudah bekerja semua boleh. Latar belakang pendidikan tidak penting. Mau kuliah jurusan arkeologi tidak masalah. Demikian juga, umur juga tidak menjadi pertimbangan.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Periode Magang</h2>
                <p class="dark:text-white mb-4">Magang bisa dilakukan kapan saja sepanjang tahun. Tidak ada batasan harus di tahun ajaran baru atau sejenisnya.</p>

                <h2 class="dark:text-white text-xl font-semibold mt-6 mb-2">Durasi Magang</h2>
                <p class="dark:text-white mb-4">Magang minimal 3 bulan, maksimal tidak dibatasi.</p>
                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    Kenapa 3 bulan?
                </blockquote>
                <p class="dark:text-white mb-4">Seperti sudah dijelaskan di atas, prinsipnya adalah win-win. Peserta magang harus mendapat pelatihan dulu supaya bisa bekerja dengan baik. Untuk itu ArtiVisi perlu mengalokasikan waktu dan tenaga personel untuk melakukan pelatihan tersebut.</p>
                <p class="dark:text-white mb-4">Jika magang cuma satu bulan, tidak ada manfaatnya bagi kedua pihak. Peserta tidak mendapat skill karena waktunya habis untuk adaptasi. ArtiVisi membuang tenaga sia-sia untuk melakukan pelatihan.</p>
                <p class="dark:text-white mb-4">Dari tiga bulan masa magang diharapkan sepertiga bisa digunakan peserta magang untuk belajar, dan dua pertiga bisa disumbangkan untuk membantu pekerjaan ArtiVisi.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Kenapa Porsi Keuntungan Saya Lebih Kecil?</h2>
                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    Kenapa porsi keuntungan saya lebih kecil?
                </blockquote>
                <p class="dark:text-white mb-4">Porsi di atas menunjukkan alokasi waktu yang digunakan. Misalnya Anda menghabiskan waktu satu bulan untuk ditraining dan dua bulan untuk bekerja. Ini kan tidak berarti dua bulan tersebut sia-sia. Selama masa kerja Anda akan mendapat pengalaman kerja di dunia nyata dengan teknologi yang digunakan ArtiVisi. Anda juga mendapat pengetahuan bagaimana kerja di dalam tim.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Perlengkapan</h2>
                <p class="dark:text-white mb-4">Peserta magang membawa laptop sendiri. ArtiVisi hanya menyediakan tempat duduk, colokan listrik, dan koneksi internet.</p>

                <h2 class="text-xl font-semibold mt-6 mb-2">Jam Operasional</h2>
                <p class="dark:text-white mb-4">Magang dilakukan di jam kantor normal. Senin – Jumat 08:00-16:30. Tidak terima magang di luar jam kerja kantor normal.</p>
                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    Kenapa begitu?
                </blockquote>
                <p class="dark:text-white mb-4">Kami harus menyediakan staf untuk mendampingi, membimbing, dan mereview hasil pekerjaan. Kalau Anda ingin magang, berarti staf pendamping ini juga harus lembur, sedangkan di ArtiVisi kita tidak suka lembur.</p>

                <h2 class="dark:text-white text-xl font-semibold mt-6 mb-2">Kompensasi</h2>
                <p class="dark:text-white mb-4">Tidak ada kompensasi finansial apa-apa. Semua biaya transportasi, uang makan, biaya hidup, akomodasi (buat yang berasal dari luar kota) tidak diganti, harus dikeluarkan dari kocek sendiri.</p>
                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    Wah kok pelit sekali? Di perusahaan XXX saya dapat tunjangan ini-itu dan sebagainya, masa di ArtiVisi tidak?
                </blockquote>
                <p class="dark:text-white mb-4">Jika Anda merasa di tempat lain bisa lebih menguntungkan, silahkan magang di sana. Tidak ada yang memaksa Anda magang di ArtiVisi. Sejujurnya, mengurus magang lebih banyak repotnya daripada untungnya buat kami. Tapi kami juga sadar bahwa untuk menjadi kompeten, orang butuh pengalaman riil dunia kerja. Inilah bentuk CSR (Corporate Social Responsibility) kami terhadap mereka-mereka yang ingin maju dan berkembang tapi sulit mendapat kesempatan.</p>

                <h2 class="dark:text-white text-xl font-semibold mt-6 mb-2">Prosedur Administrasi</h2>
                <blockquote class="border-l-4 border-blue-500 pl-4 italic text-gray-600 mb-4">
                    Baiklah saya sudah mengerti, bagaimana cara saya mendaftar magang?
                </blockquote>
                <p class="dark:text-white mb-4">Silahkan kirim email ke <a href="mailto:info@artivisi.com" class="text-blue-500 underline">info@artivisi.com</a>. Jelaskan maksud Anda ingin magang dan sertakan juga Curriculum Vitae dan surat lamaran. Nanti akan kami panggil untuk proses koordinasi selanjutnya.</p>
            </div>
        </div>
    </div>
</section>

{{end}}
